
//- LOGIN VIEW

div.login.page(data-ng-show="currPage === 'login'")
  img.logo(src="images/top5logo.png")
  div.fb-button
    h3(id="status")
    fb:login-button(scope="public_profile,email", onlogin="checkLoginState();")
